# OMNIBUS API Keys
# Rename this file to .env and add your keys below.

# Cloud Providers
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""

# Local Ollama Settings (Usually http://localhost:11434)
OLLAMA_URL="http://localhost:11434"
